.inventory-product, .inventory-display {
    margin: 5px 30px 30px 30px;
    padding: 20px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(177, 177, 177, 0.322);
}

#inventory h3 {
    margin-left: 35px;
}

#inventory h3:nth-child(odd) {
    margin-top: 30px;
}

.inventory-product {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}