.products {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;
    font-family: "Roboto", sans-serif;
    align-items: start;
}

.products-register {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 30px;
}

.products-register h2 {
    font-size: 2rem;
}

.products-register button {
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: rgb(4, 190, 4);
    font-weight: 800;
    font-size: 1rem;
    box-shadow: 1px 1px 10px rgb(177, 177, 177);
}

.products-register button:hover {
    background-color: rgb(4, 170, 4);
    box-shadow: 0px 0px 0px rgb(177, 177, 177);
    font-size: 0.9rem;
    margin-bottom: 3px;
}

.products-item {
    grid-column: 1;
    background-color: rgb(0, 0, 192);
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

.products-list li {
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    position: relative;
}

.products-list li:last-child {
    margin-bottom: 0px;
}

.products-list li:hover {
    color: #F59E0B;
    cursor: pointer;
}

.products-list li::after {
    content: '';
    display: block;
    width: 3px;
    height: 0px;
    background-color: #F59E0B;
    position: absolute;
    right: -20px;
    top: 5px;
    border-radius: 10px;
}

.products-list li:hover::after {
    height: 80%;
}
