.products-description-bg {
    display: grid;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(177, 177, 177);
    border-radius: 10px;
    margin-bottom: 30px;
    margin-right: 20px;
    opacity: 0;
    transform: translateY(-8px);
    visibility: hidden;
    transition: opacity 0.6s ease, transform 1s ease;
}

.products-description {
    padding: 30px;
}

.products-description p {
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

.products-description > p {
    margin-top: 20px;
}

.products-description-item {
    display: block;
    background-color: rgba(214, 214, 214, 0.507);
    border-radius: 10px;
    margin-top: 5px;
    padding: 15px;
    border: 2px solid rgba(185, 185, 185, 0.507);
}
.products-description-item span, .products-description-item input {
    color: black;
}


.products-description-item-fixo {
    display: block;
    background-color: rgba(214, 214, 214, 0.507);
    border-radius: 10px;
    margin-top: 5px;
    padding: 15px;
    border: 2px solid rgba(214, 214, 214, 0.507);
}

.products-description-item-fixo p {
    color: rgb(150, 149, 149);
}

.products-description-bg.divAtivoDesc {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.products-description-button {
    display: none;
    margin-top: 20px;
}

.products-description-input {
    color: black;
    background-color: rgba(185, 185, 185, 0.507);
    border-radius: 10px;
    margin-top: 6px;
    padding: 15px;
    width: 100%;
    border: 2px solid rgb(0, 0, 192);
    box-sizing: border-box;
    font-size: 1rem;
}

.products-description-input:focus {
    outline: none;
}